.form {
  background-image: url("https://images.unsplash.com/photo-1508501184302-bcac77f780c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px;
}

.inputText {
  border: 2px solid lightgrey;
  border-radius: 4px;
  margin: 10px;
  outline: none;
  padding: 10px;
  transition: 0.5s;
  width: 35%;
}

.inputText:focus {
  border: 2px solid goldenrod;
}

.inputSubmit {
  background-color: goldenrod;
  border: 2px solid goldenrod;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  padding: 10px 32px;
  transition: 0.5s;
}

.inputSubmit:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid goldenrod;
  color: white;
}

.ul {
  color: white;
  border-bottom: 2px solid white;
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 16px;
  text-align: justify;
  text-shadow: 0px 0px 6px black;
}

.ul li {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: 0.5s;
}

.ul li:hover {
  background-color: hsla(43, 100%, 49%, 0.75);
  border-radius: 6px;
  cursor: pointer;
}
